.login_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 247, 247);
    height: 100vh;
}

.login_logo {
    width: 130px;
    margin-top: 25px;
}

.login_container > h2 {
    margin-top: 0px;
}

.login_container {
    padding: 20px;
    width: 300px;
    border: 1px solid rgb(190, 190, 190);
    margin-top: 20px;
    border-radius: 4px;
}
.login_button {
    width: 100%;
    background-color: #e44879;
    border: 1px solid #ffffff;
    height: 30px;
    margin-top: 20px;
    border-radius: 3px;
    color:white;

    transition: background-color 0.5s ease;
    transition: transform 0.5s ease;
}

.login_button:hover{
    background-color: #ec3972cb;
    
    transform: scale(1.05);

}
.login_create_account_button {
    background-color:#dfba41;
    color: black;

    border-radius: 5px;
    height: 30px;
    padding: 0 1em 0 1em;
    margin-top: 30px;
    text-decoration: none;
    transition: background-color 0.5s ease;
    transition: transform 0.5s ease;
}

.login_create_account_button:hover{
    background-color:  #e7c143be;
    transform: scale(1.05);
}

.login_fail{
    margin-top: 10px;
}

.login_fail > span{ 
    font-size: 0.8em;
    color: rgb(216, 4, 4);
    font-weight: 500;
}

h4{
    margin: 2em 0 1em 0;
}